* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* bhb ==> background heading buttons */
:root {
  --primary-1: hsl(31, 77%, 52%);
  --primary-2: hsl(184, 100%, 22%);
  --primary-3: hsl(179, 100%, 13%);

  --para-bg: hsla(0, 0%, 100%, 0.75);
  --bhb-bg: hsl(0, 0%, 95%);

  --font-size: 15px;
}

body {
  background-color: var(--bhb-bg);
}
.card {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 7em auto 5em;
  display: flex;

  border-radius: 8px;
  box-shadow: 10px 9px 26px -6px rgba(173, 148, 148, 0.76);
  -webkit-box-shadow: 10px 9px 26px -6px rgba(173, 148, 148, 0.76);
  -moz-box-shadow: 10px 9px 26px -6px rgba(173, 148, 148, 0.76);
}
.logo {
  padding: 1.2em 0;
}
.col1,
.col2,
.col3 {
  width: 33.33%;
  padding: 1.2em 4em;
}
.card > div:first-child {
  border-radius: 8px 0 0 8px;
}
.card > div:last-child {
  border-radius: 0 8px 8px 0;
}

.col1 {
  background-color: var(--primary-1);
}
.col2 {
  background-color: var(--primary-2);
}
.col3 {
  background-color: var(--primary-3);
}
.logo {
  padding: 2em 0;
}

.title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: var(--bhb-bg);
  font-size: calc(var(--font-size) * 3);
  line-height: 1.6;
  text-transform: uppercase;
  padding: 0.5em 0;
}
.content {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: var(--para-bg);
  font-size: var(--font-size);
  line-height: 2;
  max-width: 23ch;
  padding-bottom: 5em;
  word-wrap: break-word;
}
.button1,
.button2,
.button3 {
  width: 75%;
  height: 5em;
  margin: 2em auto;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: inherit;
  line-height: 1.6;
  border: none;
  transition: 0.3s;
}
.button1 {
  color: var(--primary-1);
}

.button2 {
  color: var(--primary-2);
}
.button3 {
  color: var(--primary-3);
}
/* active states */
.button1:hover {
  background-color: var(--primary-1);
  color: var(--bhb-bg);
  border: 3px solid white;
}

.button2:hover {
  background-color: var(--primary-2);
  color: var(--bhb-bg);
  border: 3px solid white;
}
.button3:hover {
  background-color: var(--primary-3);
  color: var(--bhb-bg);
  border: 3px solid white;
}
/* active states END */

/* MEDIA QUERY: MAX-WIDTH:1024PX */

@media screen and (max-width: 1024px) {
  .card {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 10px 9px 26px -6px rgba(173, 148, 148, 0.76);
    -webkit-box-shadow: 10px 9px 26px -6px rgba(173, 148, 148, 0.76);
    -moz-box-shadow: 10px 9px 26px -6px rgba(173, 148, 148, 0.76);
  }
  .col1,
  .col2,
  .col3 {
    width: 100%;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .card > div:not(:last-child) {
    border-right: none;
  }
  .card > div:first-child {
    border-radius: 8px 8px 0 0;
  }
  .card > div:last-child {
    border-radius: 0 0 8px 8px;
  }
  .col1 {
    background-color: var(--primary-1);
  }
  .col2 {
    background-color: var(--primary-2);
  }
  .col3 {
    background-color: var(--primary-3);
  }
  .logo {
    padding: 2em 0;
  }
  img {
    height: 4em;
  }
  .title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    color: var(--bhb-bg);
    font-size: calc(var(--font-size) * 3.5);
    line-height: 1.6;
    text-transform: uppercase;
    padding: 1em 0;
  }
  .content {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: var(--para-bg);
    font-size: calc(var(--font-size) * 1.2);
    line-height: 2;
    max-width: 28ch;
    padding-bottom: 5em;

    word-wrap: break-word;
  }
  .button1,
  .button2,
  .button3 {
    width: 75%;
    height: 5em;
    margin: 2em auto;
    border-radius: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: inherit;
    line-height: 1.6;
    border: none;
    transition: 0.3s;
  }
  .button1 {
    color: var(--primary-1);
  }

  .button2 {
    color: var(--primary-2);
  }
  .button3 {
    color: var(--primary-3);
  }
  /* active states */
  .button1:active {
    background-color: var(--primary-1);
    color: var(--bhb-bg);
    border: 3px solid white;
  }

  .button2:active {
    background-color: var(--primary-2);
    color: var(--bhb-bg);
    border: 3px solid white;
  }
  .button3:active {
    background-color: var(--primary-3);
    color: var(--bhb-bg);
    border: 3px solid white;
  }
}
@media screen and (min-width: 543px) and (max-width: 1024px) {
  .logo {
    padding: 2em 0;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }
  img {
    height: 4em;
  }
  .title {
    width: 5.2em;
    margin-left: auto;
    margin-right: auto;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    color: var(--bhb-bg);
    font-size: calc(var(--font-size) * 4);
    line-height: 1.6;
    text-transform: uppercase;
    padding: 1em 0;
  }
  .content {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: var(--para-bg);
    font-size: calc(var(--font-size) * 1.5);
    line-height: 2;
    max-width: 23ch;
    padding-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
  }
  .button1,
  .button2,
  .button3 {
    width: 65%;
    height: 5em;
    margin: 2em auto;
    border-radius: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: inherit;
    line-height: 1.6;
    border: none;
    font-size: var(--font-size);
    transition: 0.3s;
  }
  .button1 {
    color: var(--primary-1);
  }

  .button2 {
    color: var(--primary-2);
  }
  .button3 {
    color: var(--primary-3);
  }
  /* active states */
  .button1:active {
    background-color: var(--primary-1);
    color: var(--bhb-bg);
    border: 3px solid white;
  }

  .button2:active {
    background-color: var(--primary-2);
    color: var(--bhb-bg);
    border: 3px solid white;
  }
  .button3:active {
    background-color: var(--primary-3);
    color: var(--bhb-bg);
    border: 3px solid white;
  }
}
